
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  
  body {
    @apply bg-background text-foreground font-sans selection:bg-primary selection:text-white;
  }

  .bgImage {
    background-image: url('/img/background.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
